<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp MS - ninjazim</title>
      <link rel="shortcut icon" href="https://raw.githubusercontent.com/ninjazim/ninjazim.github.io/master/images/glitch/favicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
          <img src="https://github.com/ninjazim/ninjazim.github.io/blob/master/images/glitch/trowel250.png?raw=true" />
         <h1>Timestamp Microservice.</h1>
        <h3>Pass a date string as a parameter to this url. Receive the unix and natural language date.</h3>
<!--         <h3>https://spiffy-trowel.glitch.me/</h3> -->
<!--         <h3></h3> -->
        <div class="example">
          <h3>Example</h3>
           <p>
             <span><a href="https://spiffy-trowel.glitch.me/1509685200000">https://spiffy-trowel.glitch.me<span class="focus">/1509685200000</span></a></span> ||
             <span><a href="https://spiffy-trowel.glitch.me/November%203,%202017">https://spiffy-trowel.glitch.me<span class="focus">/November%203,%202017</span></a></span>
           </p>
          <p>
            Returns
          </p>
          <p>
            <span class="code">{"unix":1509685200000,"natural":"November 3, 2017"}</span>
          </p>
        </div>

      </div>
     <div class="footer">
       <p>
         <a href="https://www.freecodecamp.org/ninjazim">freecodecamp.org/ninjazim</a>
       </p>
       <p>
         <a href="https://github.com/ninjazim/timestamp-ms">github.com/ninjazim/timestamp-ms</a>
       </p>

     </div>
   </body>

</html>
